.header_blog
  position: relative
  min-height: 650px
  height: 100vh
  background: #4c8694 url('/assets/img/parallax/layer9.jpg') center no-repeat
  background-size: cover

.header__hero_blog
  min-height: 450px
  height: 90vh
  max-width: 1200px
  position: relative
  margin: auto

.header__bg-portfolio-svg
  position: absolute 
  display: block 
  height: 100% 
  opacity: .06
  fill: #fdfdfd 
  top: 50%
  left: 50% 
  transform: translate(-50%, -50%) 

.user_blog
  position: absolute
  top: 40%
  left: 50%
  transform: translate(-50%, -50%)
  margin-top: -6px

.user__pic_blog
  margin-bottom: 21px

.blog__desc
  +roboto()
  font-size: 16px
  color: #fff
