.header_blog
  position: relative
  min-height: 402px
  background: #4c8694 url('/assets/img/bg-header.jpg') center no-repeat fixed
  background-size: cover

.header__hero_blog
  min-height: 238px
  max-width: 1200px
  position: relative
  margin: auto

.header__bg-portfolio-svg
  position: absolute 
  display: block 
  height: 100% 
  opacity: .06
  fill: #fdfdfd 
  top: 85% 
  left: 50% 
  transform: translate(-50%, -50%) 

.user_blog
  margin-top: -6px

.user__pic_blog
  margin-bottom: 21px

.blog__desc
  +roboto()
  font-size: 16px
  color: #fff
