.triangle-left_blog, .triangle-right_blog
  fill: #fff

.maincontent
  transition: transform .5s

  +tablet
    &.active
      transform: translateX(80%)

.section-blog
  background: #fff

.sidebar
  width: 22.7%
  position: absolute
  top: 105vh
  padding-top: 5px
  z-index: 20

  +hd
    width: 25.7%

  +tablet
    display: block
    position: fixed
    transform: translateX(-100%)
    top: 0
    bottom: 0
    width: 81%
    background: $green
    z-index: 10
    transition: transform .5s

  &.active
    transform: translateX(0)


.sidebar-toggle
  position: absolute
  display: none
  top: 47%
  left: 100%
  transform: translate(-85%, 0%)
  width: 5rem
  height: 5rem
  border-radius: 50%
  background: $green
  cursor: pointer

  +tablet
    display: block


.sidebar-menu
  text-align: right
  padding-right: 16px
  padding-left: 50px

  +hd
    padding-left: 40px

  +laptop
    padding-left: 10px

  +tablet
    position: absolute
    top: 50%
    width: 95.5%
    padding-right: 0
    padding-left: 0
    transform: translateY(-100%)


.sidebar-menu__item
  position: relative
  margin-bottom: 10px

  &:hover

    &::after
      content: ''
      display: block
      position: absolute
      width: 3px
      right: 0
      top: 0
      bottom: 0
      height: 100%
      background: $green

      +tablet
        display: none

.sidebar-menu__link
  display: block
  +roboto()
  color: $blue
  transition: .3s
  padding: 10px 20px
  text-decoration: none

  &:hover
    color: $green

  +tablet
    +roboto()
    color: rgba(#fff, 0.7)
    padding-right: 5px

    &:hover
      +roboto(bold)
      color: #fff



.blog__main
  padding-top: 50px


.articles__item
  padding-bottom: 75px
  position: relative
  margin-bottom: 64px

  p
    +roboto()
    color: $blue
    margin-bottom: 14px
    line-height: 1.624
    max-width: 880px

  &::after
    position: absolute
    content: ''
    display: block
    height: 5px
    width: 68.8%
    bottom: 0
    background: rgba($black, 0.07)

  &:last-child
    padding-bottom: 55px
    margin-bottom: 0

    &::after
      display: none

.articles__date
  display: block
  +roboto()
  color: $green
  margin-bottom: 19px

.articles__pic
  overflow: hidden
  width: 100%

.articles__img
  max-width: 100%
  max-height: 100%

