footer.footer
	.footer__top
		ul.nav-footer
			li.nav-footer__item
				a(href="works.html").nav-footer__link Мои работы
			li.nav-footer__item
				a(href="about.html").nav-footer__link Обо мне
			li.nav-footer__item
				a(href="blog.html").nav-footer__link Блог
			li.nav-footer__item
				a(href="index.html").nav-footer__link Авторизация

		ul.socials_footer
			li.socials__item_footer
				a(href="src=#").socials__link wk
					svg(class="icon icon_footer")
						use(xlink:href="/assets/img/sprite.svg#vk_round")
			li.socials__item_footer
				a(href="src=#").socials__link git
					svg(class="icon icon_footer")
						use(xlink:href="/assets/img/sprite.svg#github_round")
			li.socials__item_footer
				a(href="src=#").socials__link in
					svg(class="icon icon_footer")
						use(xlink:href="/assets/img/sprite.svg#in_round")

	.footer__bottom
		.info.
			Я веб-разработчик из Киева, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.

		.copyright © Александр Воробей | создано с любовью в LoftSchool | 2017
