nav(id="overlay").nav
	ul.nav__list
		each href, title in menu
			li.nav__item
				a(href=`${href}`).nav__link.title.title_nav= title

//nav(id="overlay").nav
	ul.nav__list
		li.nav__item
			a(href='works.html').nav__link.title.title_nav Мои работы
		li.nav__item
			a(href='blog.html').nav__link.title.title_nav Блог
		li.nav__item
			a(href='about.html').nav__link.title.title_nav Обо мне
		li.nav__item
			a(href='index.html').nav__link.title.title_nav Авторизация